<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome</h1>
      <p>
        Please use the form below to search for a destination and enter your
        travel date to get the weather information.
      </p>
      <form id="travel-form">
        <input id="q" type="text" />
        <input type="date" id="date" />
        <button>Click</button>
      </form>
      <div id="weather-info" class="weather-info"></div>
      <img id="location-image" class="location-image" src="" alt="" />
    </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
     </script>
  </body>
</html>
